#welcome-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0;
}
.welcome-header__title {
  margin-bottom: 20px;
}
.welcome-header__text {
  width: 66%;
  font-size: 13px;
  opacity: 0.6;
  margin-bottom: 10px;
  font-weight: 600;
}

#log-in {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 40px;
}
.log-in__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}
.log-in__column-text input {
  border: none;
  outline: none;

  height: 25px;
  width: 100%;
  padding: 0 0;
  font-size: 17px;
  font-weight: lighter;
  opacity: 0.9;
  padding: 10px 0;
  margin: 10px 0;
}
.log-in__column-text input:focus {
  border: none;
  outline: none;

  border-bottom: 1px solid yellow;
}
.log-in__column-btn a {
  width: 100%;
}
.log-in__column-btn input {
  margin: 5px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12px 0;
  transition: all 0.1s;
  font-size: 15px;
  border: none;
  outline: none;
}
.log-in__column-btn input:active {
  background-color: #f8bbd0;
  opacity: 0.8;
}
.log-in__column-footer {
  font-size: 11px;
  font-weight: bold;
}
