.friends-setting {
  width: 100%;
  height: 30px;
  background-color: snow;
  text-align: center;
  vertical-align: center;
  font-size: 15px;
  padding-top: 7px;
}
.my {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 15px;
  font-weight: bold;
}

.my img {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 10px;
}
.forFlex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my__column__address {
  font-size: 12px;
  opacity: 0.6;
}

.moreMenu,
.suggestions {
  margin: 15px 15px;
}
.icons {
  display: flex;
  flex-direction: column;
}
.icons__column {
  display: flex;
  padding: 8px 0;
}

.icons__column__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  text-align: center;
}
.icons__column__item i {
  font-size: 25px;
  opacity: 0.8;
}
.icons__column__item span {
  margin-top: 7px;
  font-size: 11px;
  font-weight: bold;
  opacity: 0.5;
}
.suggestions span {
  font-weight: bold;
  display: block;
  padding-bottom: 15px;
}
.divider {
  display: flex;
  height: 0.5px;
  margin: 10px 15px;
  border: none;
  background-color: black;
  opacity: 0.2;
}
